@import "tailwindcss";

:root{
  --primary : #294335;
  --secondary: #DEF8EA;
  --lightGreen : #155e37;
  --gray: #949494;
  --background: #F5F5F5;
  --white: #ffffff;
}

@layer base {
  .bg-primary {
    background-color: var(--primary);
  }
  
  .text-primary {
    color: var(--primary);
  }
  
  .bg-lightGreen {
    background-color: var(--lightGreen);
  }
  
  .hover\:bg-lightGreen:hover {
    background-color: var(--lightGreen);
  }
}